html {
    font-size: 10px;
}

body {
    margin: 0 0 0 5vh;
    background: #1F2937;
}

h1 {
    color: white;
    margin-bottom: 0;
    font-size: 5rem;
    font-family: 'karla';
}

p {
    color: #D5D4D8;
    margin-top: 10px;
    font-size: 2.5rem;
    font-family: 'Inter';
}

.main-container {
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 17px 5px 15px;
    gap: 12px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-top: 3vh;
    margin-bottom: 2vh;

    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'inter';

}

.pass-container {
    display: flex;
    gap: 2vh;
    margin-top: 2vh;
}

#passfield-one, 
#passfield-two {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1vh;
    min-width: 25vh;
    max-width: 50vh;
    background: #273549;
    border-radius: 6px;
    height: 4vh;
    padding: 0 1vh;

    font-size: 1.5rem;
    color: #55F991;
    font-family: 'inter';
    
}

#textArea-one,
#textArea-two {
    font-family: 'inter';
    align-items: center;
    justify-content: center;
    
}

.green_text {
    color: #4ADF86
}

hr {
    color: black;
    margin-right: 5vh;
}

label {
    color:#FFFFFF;
    font-size: 1.5vh;
    font-family: 'inter';
}